---
// Comments Component
---
<section class="giscus mx-auto mt-10 w-full">
  <script src="https://giscus.app/client.js"
          data-repo="junior6621/tech-blog"
          data-repo-id="R_kgDORYxiQw"
          data-category="Announcements"
          data-category-id="DIC_kwDORYxiQ84C3SH0"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="dark"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
</section>
